<h1 mat-dialog-title>
  Skills de {{ persona.nombre_persona + " " + persona.apellido_persona }}
</h1>
<div mat-dialog-content class="mat-elevation-z8">
  <section class="">
    <table mat-table [dataSource]="skillList" class="w-100">
      <!-- Position Column -->
      <ng-container matColumnDef="skill">
        <th mat-header-cell *matHeaderCellDef>Skill</th>
        <td mat-cell *matCellDef="let element">
          {{ element.nombre_skill }}
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="version">
        <th mat-header-cell *matHeaderCellDef>Versión</th>
        <td mat-cell *matCellDef="let item">
          {{ item.version }}
        </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="tecnologia">
        <th mat-header-cell *matHeaderCellDef>Tecnología</th>
        <td mat-cell *matCellDef="let item">
          {{ item.tecnologia }}
        </td>
      </ng-container>

      <ng-container matColumnDef="fecha_inicio">
        <th mat-header-cell *matHeaderCellDef>Fecha Inicio</th>
        <td mat-cell *matCellDef="let item">
          {{ item.fecha_inicio }}
        </td>
      </ng-container>
      <ng-container matColumnDef="fecha_fin">
        <th mat-header-cell *matHeaderCellDef>Fecha Fin</th>
        <td mat-cell *matCellDef="let item">
          {{ item.fecha_fin }}
        </td>
      </ng-container>
      <ng-container matColumnDef="anios_experiencia">
        <th mat-header-cell *matHeaderCellDef>Años Experiencia</th>
        <td mat-cell *matCellDef="let item">
          {{ item.anios_experiencia }}
        </td>
      </ng-container>
      <ng-container matColumnDef="seniority">
        <th mat-header-cell *matHeaderCellDef>Seniority</th>
        <td mat-cell *matCellDef="let item">
          {{ item.seniority }}
        </td>
      </ng-container>
      <ng-container matColumnDef="experiencia">
        <th mat-header-cell *matHeaderCellDef>Experiencia</th>
        <td mat-cell *matCellDef="let item">
          {{ item.experiencia }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </section>
</div>
