/*import colors*/
@import "./variables.scss";

@font-face {
  font-family: "Gotham";
  src: url("../assets/fonts/GothamMedium.ttf");
}
@mixin title($ffamily, $fsize, $lineh, $color) {
  font-family: $ffamily;
  font-style: normal;
  font-weight: 500;
  font-size: $fsize;
  line-height: $lineh;
  color: $color;
}

/* titles */
.title-header {
  /*@include title("Gotham", 18px, 26px, $primary-white);*/
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
}

.select-font {
  @include title("Roboto", 20px, 22px, $primary-white);
}
// sidebar
.sidebar-title {
  @include title("Roboto", 14px, 16px, $quinary-grey);
  font-weight: bold;
  padding: 0 24px;
  margin: 10px 0;
  text-align: left;
}

// pop ups
.dialog-alert__content {
  @include title("Roboto", 20px, 30px, $senary-grey);
}
.form-title {
  @include title("Roboto", 24px, 30px, $senary-grey);
  margin: 0 auto 10px 28px;
  align-self: flex-start;
  border-bottom: 2px solid $underline-yellow;
  width: fit-content;
}
// home banner
.banner {
  &__text {
    @include title("Roboto", 50px, 60px, $quaternary-black);
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    background-color: $primary-white;
    text-transform: uppercase;
    margin: 1.5px 0;
    box-sizing: border-box;
    padding: 0 7px;
    letter-spacing: 0.1rem;
  }
  &__btn {
    @include title("Arial", 14px, 16px, $primary-white);
  }
}

.favorites-banner-title {
  font-weight: bold;
  font-family: "Roboto";
  text-align: left;
  letter-spacing: 3px;

  @media only screen and (max-width: 1367) {
    @include title("Roboto", 25px, 43px, $quinary-black);
  }
  @media only screen and (min-width: 1367) {
    @include title("Roboto", 36px, 43px, $quinary-black);
  }
}

.title-description {
  @include title("Roboto", 14px, 13px, $primary-blue-dark);
  font-weight: bold;
  margin-bottom: 10px !important;
}

.text-muted {
  /*@include title("Roboto", 10px, 10px, $quinary-grey);*/
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 10px;
  color: #393939;
  text-transform: uppercase;
}

// footer
.footer {
  @include title("Roboto", 12px, 14px, $primary-red);
  position: sticky;
  @media only screen and (max-height: 700px) {
    position: relative;
    bottom: 0;
  }
  @media only screen and (min-width: 1367px) {
    width: calc(100vw);
  }
  z-index: 10;
  &__title {
    width: fit-content;
    margin: 5px auto;
    border-bottom: 1px solid $primary-red;
    padding-bottom: 5px;
    @media (min-width: 1024px) {
      margin: 5px 0;
    }
  }
  &__text {
    font-size: 10px;
    line-height: 12px;
  }
  a {
    color: $primary-white;
  }
}

.tutorial {
  &__content {
    @include title("Roboto", 20px, 30px, $quinary-grey);
    text-align: center;
  }
}

/* admin styles */
// projects
.underline-title {
  @include title("Roboto", 30px, 30px, $senary-grey);
  text-transform: capitalize;
  border-bottom: 2px solid $primary-red;
  width: fit-content;
}
.grid {
  &-header {
    &__title {
      @include title("Roboto", 14px, 30px, $senary-black);
      text-align: left;
      font-weight: bold;
    }
  }

  &-content {
    @include title("Roboto", 14px, 14px, $tertiary-black);
    text-align: center;
    &__name {
      @include title("Roboto", 14px, 16px, $tertiary-black);
      text-align: center;
      width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      box-sizing: border-box;
    }
    &__description {
      width: 100%;
      text-align: left;
      box-sizing: border-box;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    &__icon,
    &__action {
      .action-text,
      .toggle-text {
        @include title("Roboto", 10px, 15px, $primary-red);
        text-transform: capitalize;
        margin-top: 0;
      }
    }
  }
}

.check-row-title {
  @include title("Roboto", 18px, 21px, $tertiary-black);
  text-transform: capitalize;
  font-weight: 500;
}
.check-row-font {
  @include title("Roboto", 14px, 16px, $tertiary-black);
  font-weight: 500;
}
