$primary-white: #ffffff;
$secondary-white: #f9f9f9;
$tertiary-white: #f8f8f8;
$quaternary-white: #f5f5f5;
$quinary-white: #e6e6e6;
$senary-white: #d4d4d4;
$septenary-white: #c7c6c6;
$octonary-white: #c4c4c4;
$nonary-white: #b3b3b3;
$gray-button :#898989;
$denary-white: #e3e3e3;

$primary-black: #000;
$primary-blue-dark: #001A26;
$secondary-black: #2d2d2d;
$tertiary-black: #333333;
$quaternary-black: #282828;
$quinary-black: #212121;
$senary-black: #474747;

$primary-grey: #525252;
$secondary-grey: #5e5e5e;
$tertiary-grey: #4f4f4f;
$quaternary-grey: #4b4b4b;
$quinary-grey: #393939;
$senary-grey: #707782;
$septenary-grey: #6c6c6c;
$octonary-grey: #959595;
$nonary-grey: #686b6f;

$primary-red: #397eb7;
$seconday-red: #ec2224;
$tertiary-red: #eb2228;
$quaternary-red: #e51f3d;
$quinary-red: #e21c48;
$senary-red: #dc1a5e;
$septenary-red: #397EB7;
$octonary-red: #397eb7;
$nonary-red: #e31e44;
$denary-red: #db1961;

$primary-blue: #e21d47;
$seconday-blue: #ec2224;
$tertiary-blue: #eb2228;
$quaternary-blue: #e51f3d;
$quinary-blue: #e21c48;
$senary-blue: #dc1a5e;
$septenary-blue: #991334;
$octonary-blue: #d91948;
$nonary-blue: #e31e44;
$denary-blue: #db1961;

$primary-yellow: #fea900;
$underline-yellow:#F2C94C;
$seconday-yellow: #ec2224;
$tertiary-yellow: #eb2228;
$quaternary-yellow: #e51f3d;
$quinary-yellow: #e21c48;
$senary-yellow: #dc1a5e;
$septenary-yellow: #991334;
$octonary-yellow: #d91948;
$nonary-yellow: #e31e44;
$denary-yellow: #db1961;

$primary-green: #348441;
